{% extends "layout.html" %}

{% block main %}
<div class="container col-md-3">
  <form class="form">
    <h2 class="form-heading">Войти</h2>
    <label for="inputEmail" class="sr-only">Email</label>
    <input id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input id="inputPassword" class="form-control" placeholder="Пароль" required="" type="password">
    <div class="checkbox">
      <label>
        <input value="remember-me" type="checkbox"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->
{% endblock %}