{% extends "layout.html" %}
{% load widget_tweaks %}

{% block main %}
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 class="form-heading h2__no__margin">Settings: {{ user.username }}</h2>
    {% if success %}<div class="alert alert-success" role="alert">Your changes were saved!</div>{% endif %}
  <div class="form-group">
    <label for="inputLogin" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      {% render_field form.name class="form-control" placeholder="" value=user.first_name%}
    </div>
  </div>
 <div class="form-group">
    <label for="inputLogin" class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-9">
      {% render_field form.l_name class="form-control" placeholder="" value=user.last_name %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      {% render_field form.email class="form-control" placeholder="Email" value=user.email%}
      {% for error in form.email.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputNick" class="col-sm-3 control-label">Edit avatar</label>
    <div class="col-sm-9">
	<img id="ava-sett" src="/uploads/{% if ava %}{{ ava }}{% else %}no-ava.jpg{% endif %}" class="img-edit">
	{{ form.avatar }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
  </div>
</form>
{% endblock %}