{% extends "layout.html" %}

{% block main %}
<div class="container col-md-10 col-sm-12" id="login__container">
  <h2 class="h2__no__margin">Login</h2>
  <hr class="colorgraph">
  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-md-2 col-sm-3 control-label">Email</label>
    <div class="col-md-10 col-sm-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-md-2 col-sm-3 control-label">Password</label>
    <div class="col-md-10 col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-2 col-sm-4 col-md-5">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
</div> <!-- /container -->
{% endblock %}