{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="col-md-2 col-sm-3 hidden-xs">
        <div class="row">
            <img class="pull-right" src="http://lorempixel.com/83/83/">
        </div>
        <div class="row rating">
            <div class="btn-group pull-right">
              <button class="btn btn-danger btn-sm">-</button>
              <button class="btn btn-default btn-sm disabled">2</button>
              <button class="btn btn-success btn-sm">+</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-10 col-sm-9 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>How to design bro???<h3>
            </div>
            <div class="panel-body">
                THIS IS DESCRIPTION PLS HELP ME!!!
            </div>
            <div class="row question__footer" id="question__footer">
                <span class="pull-left" class="tags">tags:&nbsp</span>
                    <a href="#">AskRogovsky</a>,
                    <a href="#">python</a>
                <span class="pull-right">Asked by </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Answers:</h2>
        <!-- START ANSWER -->
        <div class="row answ_margin__bottom">
            <div class="col-md-2 col-sm-3 hidden-xs">
                <div class="row answ_padding__left">
                    <img class="pull-right" src="http://lorempixel.com/83/83/">
                </div>
                <div class="row answ_padding__left rating">
                    <div class="btn-group pull-right">
                      <button class="btn btn-danger btn-sm">-</button>
                      <button class="btn btn-default btn-sm disabled">2</button>
                      <button class="btn btn-success btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="panel answ_panel panel-default">
                    <div class="panel-heading">
                        <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div>
        </div>
        <!-- END ANSWER -->
<!-- START ANSWER -->
        <div class="row answ_margin__bottom">
            <div class="col-md-2 col-sm-3 hidden-xs">
                <div class="row answ_padding__left">
                    <img class="pull-right" src="http://lorempixel.com/83/83/">
                </div>
                <div class="row answ_padding__left rating">
                    <div class="btn-group pull-right">
                      <button class="btn btn-danger btn-sm">-</button>
                      <button class="btn btn-default btn-sm disabled">2</button>
                      <button class="btn btn-success btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="panel answ_panel panel-default">
                    <div class="panel-heading">
                        <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        Panel content very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer  very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer very long asnwer
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div>
        </div>
        <!-- END ANSWER -->        
    </div>
</div>

{% endblock %}