{% extends "layout.html" %}

{% block main %}
    {% if tag %}
        <div class="row">
            <h2 class="h2__tag text-center">Questions with tag: {{ tag }}</h2>
        </div>
    {% endif %}
    {% if order %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 order__btn">
                <div class="btn-group btn-group-justified" role="group" aria-label="Order by">
                      <a href="{% url 'questions' 'new' %}" class="btn btn-default {% if order == 'new' %} active {% endif %}" role="button">New</a>
                      <a href="{% url 'questions' 'best' %}" class="btn btn-default {% if order == 'best' %} active {% endif %}" role="button">Best</a>
                </div>
            </div>
        </div>
    {% endif %}
{% for i in questions %}
<div class="row">
  <div class="panel panel-default panel-body question">
  	<div class="question__left col-md-2 col-sm-3 hidden-xs">
  		<div class="row">
  			<img class="center-block question_pic" src="/uploads/{{ i.userpic }}">
  		</div>
  		<div class="row text-center rating">
  			<div class="btn-group">
          <button class="btn btn-danger btn-sm">-</button>
			    <button class="btn btn-default btn-sm disabled">{{ i.rating }}</button>
          <button class="btn btn-success btn-sm">+</button>
			</div>
  		</div>
  	</div>

  	<div class="hidden-xs question__right col-md-10 col-sm-9">
  		<h3><a href="{% url 'question' i.id %}">{{ i.title }}</a></h3>
	  	<div class="row question__descr">
            {{ i.text }}
	  	</div>
        <div class="fuck"></div>
	  	<div class="row question__footer">
        <span class="hidden-lg bottomleft"><a href="{% url 'question' i.id %}">answer ({{ i.answers }})</a></span>
        <span class="hidden-lg bottomright">tags:
            {% for t in i.taglist %}
            <a href="{% url 'tag' t.word %}">{{ t.word }}</a>
            {% endfor %}
        </span>
        <span class="visible-lg hidden-xs bottomleft"><a href="{% url 'question' i.id %}"> answer ({{ i.answers }})</a></span>
        <span class="visible-lg hidden-xs bottomright">tags:
            {% for t in i.taglist %}
            <a href="{% url 'tag' t.word %}">{{ t.word }}</a>
            {% endfor %}
        </span>
	  	</div>
  	</div>
    <div class="visible-xs col-md-10 col-sm-9">
        <h3><a href="{% url 'question' i.id %}">{{ i.title }}</a></h3>
        <div class="row question__descr">
            {{ i.text }}
        </div>
        <div class="fuck"></div>
        <div class="row question__footer">
            <span class="hidden-lg bottomleft"><a href="{% url 'question' i.id %}">answer ({{ i.answers }})</a></span>
            <span class="hidden-lg bottomright">tags:
                {% for t in i.taglist %}
              <a href="{% url 'tag' t.word %}">{{ t.word }}</a>
                {% endfor %}
            </span>
            <span class="visible-lg hidden-xs bottomleft"><a href="{% url 'question' i.id %}">answer ({{ i.answers }})</a></span>
            <span class="visible-lg hidden-xs bottomright">tags:
                {% for t in i.taglist %}
              <a href="{% url 'tag' t.word %}">{{ t.word }}</a>
                {% endfor %}
            </span>
        </div>
  	</div>
  </div>
</div>
{% endfor %}

{% include "paginator.html" %}

{% endblock %}