{% extends "layout.html" %}
{% load widget_tweaks %}

{% block main %}
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 class="form-heading h2__no__margin">Sign Up</h2>
  <div class="form-group">
    <label for="inputLogin" class="col-sm-3 control-label">Login</label>
    <div class="col-sm-9">
      {% render_field form.username class="form-control" required="required" placeholder="" %}
      {% for error in form.username.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      {% render_field form.email class="form-control" required="required" placeholder="" %}
      {% for error in form.email.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      {% render_field form.pass1 class="form-control" required="required" placeholder="" %}
      {% for error in form.pass1.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword4" class="col-sm-3 control-label">Confirm password</label>
    <div class="col-sm-9">
      {% render_field form.pass2 class="form-control" required="required" placeholder="" %}
      {% for error in form.pass2.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label">Avatar</label>
    <div class="col-sm-9">
    {{ form.avatar }}
    <p class="help-block">not required</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">Sign up!</button>
    </div>
  </div>
</form>
{% endblock %}